/*
 * @Description: 主题色
 * @Author: shilili1
 * @Date: 2019-01-04 16:58:58
 * @LastEditTime: 2019-01-16 19:40:02
 * @LastEditors: Please set LastEditors
 */

 /* 定义主题色 */

$theme-ff516e: #ff516e;
$theme-ff86a8: #ff86a8;

$theme-0a8de8: #0a8de8;
$theme-02d9d1: #02d9d1;

$theme-0475d4: #0475d4;
$theme-3ae1ff: #3ae1ff;

$theme-5e48cd: #5e48cd;
$theme-9270f3: #9270f3;

$theme-f76b46: #f76b46;
$theme-ff9166: #ff9166;

$theme-693da5: #693da5;
$theme-af559b: #af559b;

$theme-23bbaa: #23bbaa;
$theme-44ddd8: #44ddd8;

$theme-474db0: #474db0;
$theme-c78cdf: #c78cdf;

$theme-2dcdc4: #2dcdc4;
$theme-ffcca4: #ffcca4;

$theme-00a678: #00a678;
$theme-72f6b0: #72f6b0;

$theme-00997f: #00997f;
$theme-12ddf5: #12ddf5;

$theme-cd3b3b: #cd3b3b;
$theme-ef7070: #ef7070;

$theme-e93166: #e93166;
$theme-fea36c: #fea36c;

$theme-8a2fd7: #8a2fd7;
$theme-fea36c: #fea36c;

$theme-59b8fc: #59B8FC;
$theme-d5d5d5: #d5d5d5;

$theme-45a3f1: #45a3f1;
/* 智能灯主题色 */
$theme-9777fa: #9777fa;
$theme-03bcee: #03bcee;

/* 取暖器主题色 */
$theme-fb7f4a: #FB7F4A;
