


$grid-size: 0.26rem;    /* 12 grid */
$main-width: 3.12rem;   /* 0.26 * 12 */

$main-color: #59B8FC;

$c-primary: #59B8FC;
$c-primary-on: #2c99e6;
/********************  length  ********************/
$l-radius: 3px;

/********************  font size  ********************/
$font-size-xs:   10px;
$font-size-sm:   12px;
$font-size-base: 14px;
$font-size-lg:   16px;
$font-size-xl:   18px;
$font-size-32:   32px;


/********************  color  ********************/
$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$gray-lighter: #ccc;
$gray-lightest: #eee;
$white: #fff;
$blue: #59B8FC;
$orange: #f76b46;


/********************  component theme  ********************/
/****  dayspicker  ****/

$dayspicker-item-width: 0.5rem;
$dayspicker-item-height: 0.22rem;
$dayspicker-item-radius: 0.04rem;
$dayspicker-padding-y: 0.12rem;

$t-dayspicker-font-size: $font-size-sm;
$t-dayspicker-defcolor: $gray-light;
$t-dayspicker-lightcolor: $blue;



/****  range  ****/
$range-padding-y: 0.16rem;
$range-slide-height: 0.02rem;
$range-slide-button-size: 0.24rem;
$range-padding-x: calc($range-slide-button-size/2);
$range-slide-button-border: 0.02rem;
$range-slide-stepdot-size: 0.04rem;
$range-slide-dot-size: 0.24rem;

$t-range-defcolor: $gray-lighter;
$t-range-lightcolor: $c-primary;

/****  switch   ****/

$switch-width: 0.53rem;
$swtich-height: 0.26rem;
$swtich-button-size: 0.1rem;
$switch-button-padding-x: 0.08rem;

$t-switch-oncolor: $c-primary;
$t-switch-offcolor: $gray-lighter;

/****  power   ****/
$power-width: 0.45rem;
$power-height: 0.45rem;

$t-power-offcolor: #fff;
$t-power-oncolor: $c-primary;

/****  button  ****/
$btn-width-sm: 0.75rem;
$btn-height-sm: 0.28rem;

$btn-width-base: 0.86rem;
$btn-height-base: 0.28rem;

$btn-width-lg: 1.29rem;
$btn-height-lg: 0.42rem;


/**** button status ****/
$btn-disabled: #efefef;
$btn-hover: #efefef; /* 按钮按下底色 */

/**** counter ****/
$counter-width: 1.03rem;
$counter-height: 0.35rem;

/****  panel   ****/
$panel-width: $main-width;

/*modal**/
$c-dialog-title: #ff6375
