@font-face {
  font-family: 'iconfont';
  src:
    url('./styles/fonts/iconfont.ttf?t8owq3') format('truetype'),
    url('./styles/fonts/iconfont.woff?t8owq3') format('woff'),
    url('./styles/fonts/iconfont.svg?t8owq3#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-pull-up:before {
  content: "\e904";
}
.icon-pull-down:before {
  content: "\e905";
}
.icon-mode-smart:before {
  content: "\e900";
}
.icon-mode-cool:before {
  content: "\e901";
}
.icon-mode-holiday:before {
  content: "\e902";
}
.icon-mode-freeze:before {
  content: "\e903";
}

