
/********************  Clearfix, Float  ********************/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

/********************  Show, Hide  ********************/
.u-ofh {
  overflow: hidden;
}

.u-hidden {
  display: none !important;
}

.u-vis-hidden {
  visibility: hidden;
}

/********************  Center  ********************/
.u-cross-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/********************  Padding  ********************/
.u-without-main-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-without-cross-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-without-padding {
  padding: 0 !important;
}

/********************  Others  ********************/
.space {
  height: 10px;
}
/********************  textle-not-flex  ********************/
.title-not-flex {
  flex: none;
}
.control-field {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  word-break:keep-all;
  padding-left: 0.12rem;
}


@for $i from 1 to 12 {
  .col-$i {
    width: calc($grid-size * $i);
  }
  .row-$i {
    height: calc($grid-size * $i);
  }
}


