.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

.u-ofh {
  overflow: hidden;
}

.u-hidden {
  display: none !important;
}

.u-vis-hidden {
  visibility: hidden;
}

.u-cross-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/********************  padding  ********************/
.u-without-main-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-without-cross-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-without-padding {
  padding: 0 !important;
}




