@font-face {
  font-family: 'iconfont';
  src:
    url('fonts/iconfont.ttf?p42mi1') format('truetype'),
    url('fonts/iconfont.woff?p42mi1') format('woff'),
    url('fonts/iconfont.svg?p42mi1#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mode-auto:before {
  content: "\e92b";
  color: #fff;
}
.icon-mode-dry:before {
  content: "\e930";
  color: #b7b7b7;
}
.icon-cross:before {
  content: "\e900";
}
.icon-select:before {
  content: "\e901";
}
.icon-automoatic:before {
  content: "\e920";
}
.icon-border:before {
  content: "\e921";
}
.icon-mopping:before {
  content: "\e922";
}
.icon-rechang:before {
  content: "\e923";
}
.icon-quick-wash-30:before {
  content: "\e91c";
}
.icon-quick-wash-15:before {
  content: "\e91a";
}
.icon-washing-liquid:before {
  content: "\e91b";
}
.icon-children-clothing:before {
  content: "\e927";
}
.icon-fault:before {
  content: "\e918";
}
.icon-telephone:before {
  content: "\e919";
}
.icon-shopping-cart-ing:before {
  content: "\e90a";
}
.icon-check-through:before {
  content: "\e90b";
}
.icon-todos:before {
  content: "\e90c";
}
.icon-wash-sterilization:before {
  content: "\e91d";
}
.icon-return-top:before {
  content: "\e91e";
}
.icon-clothes-wool:before {
  content: "\e91f";
}
.icon-down-jackets:before {
  content: "\e924";
}
.icon-ai:before {
  content: "\e925";
}
.icon-tube-self-cleaning:before {
  content: "\e926";
}
.icon-wash-cycle:before {
  content: "\e928";
}
.icon-cotton:before {
  content: "\e929";
}
.icon-wash-immerse:before {
  content: "\e92a";
}
.icon-wash-eco:before {
  content: "\e92c";
}
.icon-wash-merge:before {
  content: "\e92d";
}
.icon-wash-large-sized:before {
  content: "\e92e";
}
.icon-shirt:before {
  content: "\e92f";
}
.icon-shopping-cart:before {
  content: "\e931";
}
.icon-wash-precontract:before {
  content: "\e932";
}
.icon-wash-pre:before {
  content: "\e933";
}
.icon-wash-ing:before {
  content: "\e934";
}
.icon-wash-dewatering:before {
  content: "\e935";
}
.icon-wash-poaching:before {
  content: "\e936";
}
.icon-select-on:before {
  content: "\e8f5";
}
.icon-ellipsis:before {
  content: "\e90d";
}
.icon-bars:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e912";
}
.icon-settting:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e914";
}
.icon-select-off:before {
  content: "\e916";
}
.icon-round-check:before {
  content: "\e917";
}
.icon-round-close:before {
  content: "\e911";
}
.icon-pull-right:before {
  content: "\e909";
}
.icon-pull-left:before {
  content: "\e910";
}
.icon-power:before {
  content: "\e908";
}
.icon-minus:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-pull-up:before {
  content: "\e904";
}
.icon-pull-down:before {
  content: "\e905";
}
.icon-mode-smart:before {
  content: "\e902";
}
.icon-mode-cool:before {
  content: "\e903";
}
.icon-mode-holiday:before {
  content: "\e90e";
}
.icon-mode-freeze:before {
  content: "\e915";
}
