@font-face {
  font-family: "iconfont";
  src: url("../styles/fonts/fonts/iconfont.ttf?jt1etw") format("truetype"),
    url("../styles/fonts/fonts/iconfont.woff?jt1etw") format("woff"),
    url("../styles/fonts/fonts/iconfont.svg?jt1etw#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked-bold:before {
  content: "\e968";
  color: #4b8bee;
}
.icon-checked:before {
  content: "\e969";
}
.icon-weiboshajun:before {
  content: "\e95b";
}
.icon-baobaoguoni:before {
  content: "\e95c";
}
.icon-baobaoniunai:before {
  content: "\e95d";
}
.icon-baobaoshuidan:before {
  content: "\e95e";
}
.icon-baobaozhou:before {
  content: "\e95f";
}
.icon-baomihua:before {
  content: "\e960";
}
.icon-kaodangao:before {
  content: "\e961";
}
.icon-kaohongshu:before {
  content: "\e962";
}
.icon-weibo:before {
  content: "\e963";
}
.icon-zhengqiqingjie:before {
  content: "\e964";
}
.icon-zhinengchuwei:before {
  content: "\e965";
}
.icon-zhinengjiedong:before {
  content: "\e966";
}
.icon-zidongfanre:before {
  content: "\e967";
}
.icon-alert:before {
  content: "\e945";
}
.icon-light-low:before {
  content: "\e946";
}
.icon-light-high:before {
  content: "\e947";
}
.icon-romance:before {
  content: "\e948";
}
.icon-rest:before {
  content: "\e949";
}
.icon-read:before {
  content: "\e94a";
}
.icon-film:before {
  content: "\e94b";
}
.icon-defined:before {
  content: "\e94c";
}
.icon-air-supply:before {
  content: "\e94d";
}
.icon-wet:before {
  content: "\e94e";
}
.icon-super-strong:before {
  content: "\e94f";
}
.icon-power-saving:before {
  content: "\e950";
}
.icon-healthsvg:before {
  content: "\e951";
}
.icon-cooling:before {
  content: "\e952";
}
.icon-airchange:before {
  content: "\e953";
}
.icon-smart:before {
  content: "\e954";
}
.icon-heating:before {
  content: "\e955";
}
.icon-planning:before {
  content: "\e956";
}
.icon-fixed-point:before {
  content: "\e957";
}
.icon-arch:before {
  content: "\e958";
}
.icon-strong:before {
  content: "\e959";
}
.icon-focus:before {
  content: "\e95a";
}
.icon-sleep:before {
  content: "\e943";
}
.icon-auto:before {
  content: "\e944";
}
.icon-code-wind:before {
  content: "\e92b";
}
.icon-ordinary:before {
  content: "\e941";
}
.icon-soft:before {
  content: "\e942";
}
.icon-memory:before {
  content: "\e93e";
}
.icon-safe:before {
  content: "\e93f";
}
.icon-mode-auto:before {
  content: "\e940";
}
.icon-large-volume:before {
  content: "\e93a";
}
.icon-small-volume:before {
  content: "\e93b";
}
.icon-mode-sleep:before {
  content: "\e93c";
}
.icon-mode-automatic:before {
  content: "\e93d";
}
.icon-more:before {
  content: "\e939";
  color: #999;
}
.icon-range-small:before {
  content: "\e938";
}
.icon-range-large:before {
  content: "\e937";
}
.icon-mode-dry:before {
  content: "\e930";
  color: #b7b7b7;
}
.icon-cross:before {
  content: "\e900";
}
.icon-select:before {
  content: "\e901";
}
.icon-automoatic:before {
  content: "\e920";
}
.icon-border:before {
  content: "\e921";
}
.icon-mopping:before {
  content: "\e922";
}
.icon-rechang:before {
  content: "\e923";
}
.icon-quick-wash-30:before {
  content: "\e91c";
}
.icon-quick-wash-15:before {
  content: "\e91a";
}
.icon-washing-liquid:before {
  content: "\e91b";
}
.icon-children-clothing:before {
  content: "\e927";
}
.icon-fault:before {
  content: "\e918";
}
.icon-telephone:before {
  content: "\e919";
}
.icon-shopping-cart-ing:before {
  content: "\e90a";
}
.icon-check-through:before {
  content: "\e90b";
}
.icon-todos:before {
  content: "\e90c";
}
.icon-wash-sterilization:before {
  content: "\e91d";
}
.icon-return-top:before {
  content: "\e91e";
}
.icon-clothes-wool:before {
  content: "\e91f";
}
.icon-down-jackets:before {
  content: "\e924";
}
.icon-ai:before {
  content: "\e925";
}
.icon-tube-self-cleaning:before {
  content: "\e926";
}
.icon-wash-cycle:before {
  content: "\e928";
}
.icon-cotton:before {
  content: "\e929";
}
.icon-wash-immerse:before {
  content: "\e92a";
}
.icon-wash-eco:before {
  content: "\e92c";
}
.icon-wash-merge:before {
  content: "\e92d";
}
.icon-wash-large-sized:before {
  content: "\e92e";
}
.icon-shirt:before {
  content: "\e92f";
}
.icon-shopping-cart:before {
  content: "\e931";
}
.icon-wash-precontract:before {
  content: "\e932";
}
.icon-wash-pre:before {
  content: "\e933";
}
.icon-wash-ing:before {
  content: "\e934";
}
.icon-wash-dewatering:before {
  content: "\e935";
}
.icon-wash-poaching:before {
  content: "\e936";
}
.icon-select-on:before {
  content: "\e8f5";
}
.icon-ellipsis:before {
  content: "\e90d";
}
.icon-bars:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e912";
}
.icon-settting:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e914";
}
.icon-select-off:before {
  content: "\e916";
}
.icon-round-check:before {
  content: "\e917";
}
.icon-round-close:before {
  content: "\e911";
}
.icon-pull-right:before {
  content: "\e909";
}
.icon-pull-left:before {
  content: "\e910";
}
.icon-power:before {
  content: "\e908";
}
.icon-minus:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-pull-up:before {
  content: "\e904";
}
.icon-pull-down:before {
  content: "\e905";
}
.icon-mode-smart:before {
  content: "\e902";
}
.icon-mode-cool:before {
  content: "\e903";
}
.icon-mode-holiday:before {
  content: "\e90e";
}
.icon-mode-freeze:before {
  content: "\e915";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
